@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "https://unpkg.com/open-props@1.6.17/easings.min.css";

html {
  height: 100%;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(55, 31, 77, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}